h1 {
    color: maroon;
    font-family: 'Montserrat Subrayada', sans-serif;
    text-align: center;
}

body {
    background-image: url(https://images2.alphacoders.com/187/187622.jpg);
}

.texto_a {
    font-family: 'Sansita Swashed', cursive;
    color: slategray;
}

.mueble_nuevo {
    width: 301px;
    height: 301px;
    margin: auto;
    position: absolute;
    top: 659px;
    right: 300px;
}

.texto_d {
    font-family: 'Sansita Swashed', cursive;
    color: slategray;
    position: absolute;
    margin: auto;
    top: 620px;
    right: 500px;
}

.comparacion1 {
    width: 301px;
    height: 301px;
}

.icono {
    right: 0px;
    top: 0px;
    position: absolute;
    border-radius: 10px;
    width: 155px;
    height: 106px;
}

.menu {
    list-style: none;
    padding: 0;
    background-color: darkred;
    width: 90%;
    max-width: 800px;
    margin: auto;
}

.menu li a {
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
}

.menu li {
    display: inline-block;
    text-align: center;
}

.menu li a:hover {
    background: crimson;
}